<body>
    <nav>
        <!-- <a class="button"
           routerLink="/api1-list"
           routerLinkActive="activebutton"
           ariaCurrentWhenActive="page">
          Api1
        </a> |
        <a class="button"
           routerLink="/api2-list"
           routerLinkActive="activebutton"
           ariaCurrentWhenActive="page">
          Api2
        </a> | -->
        <a class="button"
           routerLink="/json1-list"
           routerLinkActive="activebutton"
           ariaCurrentWhenActive="page">
          First Json
        </a>
        <a class="button"
           routerLink="/json2-list"
           routerLinkActive="activebutton"
           ariaCurrentWhenActive="page">
          Second Json
        </a>
      </nav>
      <router-outlet></router-outlet>
</body>
